
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

  }
  
  :root {
    --background: #06021d;
    --foreground: #ededed;
  }

  
  
  body {
    color: var(--foreground);
    background: var(--background);

    font-family: 'Quicksand', sans-serif; 
}
  #mobilemenu {
    z-index: 1;
    position: absolute;
    top: 53px;
    height: fit-content
  }
  
  
  